@media only screen and (max-width: 768px) {
  .form-container{
    width: 480px;
  }

  .outer-container{
    width: 600px;
  }

  h2{
    font-size: 6px;
  }
}


  /* .create-post-container{
    display: flex;
    flex-direction: column;
    height: auto;
   }
   */
